<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Company Department List</title>
    </head>
    <body>
        <h1> Your Fleet Manager - Company Department List </h1>
        <hr>
            <h3 th:inline="text" >
                Company name : <small th:text="${company.getName()}">company name</small>
            </h3>
        <hr>
        <a href="#" th:href="@{'/company/'+${company.getId()} + '/department/add'}"><button> Add New Department </button></a>
        <a href="#" th:href="@{'/company/'}"><button> Return </button></a>
        <hr>
        <table>
            <tr>
                <th> Number </th>
                <th> Name </th>
                <th> Telephone Number </th>
                <th> Email Address </th>
                <th> Action </th>
            </tr>
            <tr th:each="department, iter:${company.getDepartments()}">
                <td th:text="${iter.index + 1}"> number </td>
                <td th:text="${department.getName()}"> name </td>
                <td th:text="${department.getContactDetails().getTelephoneNumber()}"> telephone number</td>
                <td th:text="${department.getContactDetails().getEmailAddress()}"> email address </td>
                <td>
                    <a href="#" th:href="@{'/company/'+${company.getId()} + '/department/'+${department.getId()} + '/update'}"><button> Update </button></a>
                    <a href="#" th:href="@{'/company/'+${company.getId()} + '/department/'+${department.getId()} + '/delete'}"
                       th:onclick="return confirm('Are you sure you want to delete this department')?true:false;"><button> Delete </button></a>
                </td>
            </tr>
        </table>
    </body>
</html>