<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Department Details</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body class="bg-dark">
        <div class="container-fluid">
            <h1 class="text-light text-center" >
                <img th:src="@{/images/department-logo.png}" width="40" height="40"/>
                Your Fleet Manager - Department Details
                <img th:src="@{/images/department-logo.png}" width="40" height="40"/>
            </h1>
            <hr>
            <table class="table table-striped table-dark">
                <tbody>
                    <tr>
                        <td> name :</td>
                        <td th:text="${department.getName()}"> name </td>
                    </tr>
                    <tr>
                        <td> Telephone number :</td>
                        <td th:text="${department.getContactDetails().getTelephoneNumber() }"> telephone number </td>
                    </tr>
                    <tr>
                        <td> Email address :</td>
                        <td th:text="${department.getContactDetails().getEmailAddress()}"> email address </td>
                    </tr>
                </tbody>
            </table>
            <hr>
            <a href="#" th:href="@{'/company/'+${companyId} + '/department/'+${department.getId()} + '/update'}"><button type="button" class="btn btn-warning"> Edit </button></a>
            <a href="#" th:href="@{'/company/'+${companyId}+'/department'}"><button type="button" class="btn btn-light"> Return To Department List </button></a>
        </div>
    </body>
</html>