<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Department Car List</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body class="bg-dark">
        <div class="container-fluid">

            <h1 class="text-light text-center" >
                <img th:src="@{/images/car-logo.png}" width="40" height="40"/>
                Your Fleet Manager - Department Car List
                <img th:src="@{/images/car-logo.png}" width="40" height="40"/>
            </h1>
            <hr>
            <h3 class="text-info text-center" th:text="' - ' + ${department.getName()} + ' - '" > - department name - </h3>
            <hr>
            <a href="#" th:href="@{'/company/'+${companyId} + '/department/'+${department.getId()} + '/car/add'}"><button type="button" class="btn btn-success"> Add New Car </button></a>
            <a href="#" th:href="@{'/company/'+${companyId} + '/department'}"><button type="button" class="btn btn-light"> Return to Department List </button></a>
            <hr>

            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"> Number </th>
                        <th scope="col"> Brand </th>
                        <th scope="col"> Model </th>
                        <th scope="col"> Production Year </th>
                        <th scope="col"> Registration Number </th>
                        <th scope="col"> Action </th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each=" car, iter:${department.getCars()}">
                        <td>
                            <img th:src="@{/images/car-logo.png}" width="40" height="40"/>
                        </td>
                        <td th:text="${iter.index + 1}"> number </td>
                        <td th:text="${car.getBrand()}"> brand </td>
                        <td th:text="${car.getModel()}"> model </td>
                        <td th:text="${car.getProductionYear()}"> production year </td>
                        <td th:text="${car.getRegistrationNumber()}"> registration number </td>

                        <td>
                            <a href="#" th:href="@{'/company/'+${companyId} + '/department/'+${department.getId()} + '/car/' + ${car.getId()} + '/details'}"><button type="button" class="btn btn-info"> Show Details </button></a>

                            <a href="#" th:href="@{'/company/'+${companyId} + '/department/'+${department.getId()} + '/car/' + ${car.getId()} + '/delete'}"
                               th:onclick="return confirm('Are you sure you want to delete this department')?true:false;"><button type="button" class="btn btn-danger"> Delete </button></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>